<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- preferences -->
  <ion-list-header>Preferences</ion-list-header>
  <ion-item routerLink="/tabs/settings/theme">
    <ion-label>App Theme</ion-label>
    <ion-note slot="end">System</ion-note>
  </ion-item>
  <ion-item routerLink="/tabs/settings/lang">
    <ion-label>Language</ion-label>
    <ion-note slot="end">English</ion-note>
  </ion-item>

  <!-- notifications -->
  <ion-list-header>Notifications</ion-list-header>
  <ion-item>
    <ion-label>App Updates</ion-label>
    <ion-toggle color="primary" checked></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Scan Notifications</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <!-- privacy -->
  <ion-list-header>Privacy</ion-list-header>
  <ion-item routerLink="/privacy/data">
    <ion-label>Data Management</ion-label>
  </ion-item>
  <ion-item routerLink="/privacy/policy">
    <ion-label>Privacy Policy</ion-label>
  </ion-item>

  <!-- about -->
  <ion-list-header>About</ion-list-header>
  <ion-item>
    <ion-label>App Version</ion-label>
    <ion-note slot="end">1.2.3</ion-note>
  </ion-item>
</ion-content>
